.Assesment {
  display: flex;
}

.Assesment > :first-child {
  flex: 0.5;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.Assesment_Wrap {
  flex: 11.5;
}

/* /////////////// Media Query /////////////// */

@media (max-width: 992px) {
  .Assesment > :first-child {
    display: none !important;
  }
}
