.assessment_input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.create_dropdown {
  width: 90%;
}

.create_button {
  background-color: #f77f00 !important;
  color: white !important;
  position: absolute;
  bottom: 20px;
  right: 15px;
  height: 50px;
  width: 100px;
}

/* ////////////////// Media Query /////////////////// */
@media (max-width: 420px) {
  .assessment_input {
    width: 95%;
  }
}
