.Sidebar_Container {
  height: 100vh;
  width: 70px;
  background-color: white;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(171, 158, 171, 1);
  -moz-box-shadow: 3px 0px 5px 0px rgba(171, 158, 171, 1);
  box-shadow: 3px 0px 5px 0px rgba(171, 158, 171, 1);
  margin-right: 5px;
}

.Sidebar_Effect {
  width: 270px;
}

.Toggle_Icon {
  color: dimgray;
  background-color: white;
  border: 2px solid dimgray;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: -10px;
  z-index: 3;
  cursor: pointer;
  transform: rotate(180);
}

.Toggle_Transition {
  transform: rotate(180deg);
}

.Sidebar_Hover {
  width: 270px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.Sidebar_Wrap {
  width: 270px;
}

.Sidebar_Menu {
  padding: 10px;
  cursor: pointer;
}

.Sidebar_Header {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.Sidebar_Header > img {
  width: 50px;
  height: 50px;
}

.Sidebar_Header > span {
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
}

.Sidebar_Menu:hover {
  background-color: aliceblue;
}

.Sidebar_Menu > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.Sidebar_Menu > span {
  width: 270px;
}
