.Assesment {
  display: flex;
}

.Assesment_Wrap {
  flex: 1;
}

.Main_Container {
  height: calc(100vh - 105px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* /////////////// Media Query /////////////// */

@media (max-width: 992px) {
  .Assesment > :first-child {
    display: none !important;
  }
}
